@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('reset.css');
@import url('logo.css');

/* main {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
} */
/* 
body {
    display: block;
    height: 100vh;
    width: 100%;
    background-color: red;
} */

#logo {
    display: block;
    margin: 40px auto 60px;
}

h1 {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 50px;
}

section {
    width: 70vw;
    margin: auto;
}

form {
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    margin-bottom: 30px;
    border: 0;
    padding: 8px;
    font-size: 16px;
    outline: 0;
    width: 450px;
    background-color: #e4e4e4;
}

a {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 100px;
    padding: 10px 18px;
    border-radius: 5px;
    background-color: #3BB4F6;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

a:hover {
    background-color: #36a0da;
    cursor: pointer;
}